@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Karla", sans-serif;
  font-family: "Markazi Text", serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f8f7f7;


}

body {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}

nav {
  position: sticky;
  top: 0%;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #f8f7f7;
}

ul {
  width: 100%;
  padding: 12px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

li {
  list-style: none;
}

.Links {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
li a {
  text-decoration: none;
  color: #333;
}

.Hero-wrapper {
  width: 100%;
  height: 406px;
  background: #495e57;
}
.Hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  flex-shrink: 0;
}

.Hero-content {
  display: flex;
  flex-direction: column;
  gap: -8px;
}

.Hero-content h3 {
  color: #f4ce14;
  font-family: "Markazi Text", serif;
  margin:0%;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Hero-content h3 span {
  color: #fff;
  font-size: 32px;
}
.Hero-content P {
  width: 447px;
  height: 79px;
  flex-shrink: 0;
  color: #fff;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.625%; /* 28.125px */
}

.Hero-img img {
  width: 380px;
  height: 574.135px;
  border-radius: 12px;
  flex-shrink: 0;
}
button {
  width: 200px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #f4ce14;
  border: none;
  color: #333;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
